* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* stop scrolling */
}

.game-container {
  position: relative;
  /* fixing everything to the main container */
  width: 352px;
  height: 198px;
  outline: 1px solid #f1f1f1;
  /* Outline vs Border
            1.Outlines do not take up space.
            2.Outlines may be non-rectangular.
        */
  margin: 0 auto;

  transform: scale(3) translateY(40%);
  /* starts scaling from the middle,
        need to move it down. */
}

.game-container canvas {
  image-rendering: pixelated;
  /* pixelates ALL canvases in game */
}
