@font-face {
  font-family: "radioland";
  src: url("/images/fonts/radioland.regular.ttf");
}

.timer {
  font-family: "radioland";
  font-size: 10px;
  color: #cb0000;
  position: absolute;
  right: 46%;
  bottom: -10%;
}
